
.btn-primary {
  color: #fff !important;
  background-color: #009999 !important;
  border-color: #009999 !important; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #77a8b3 !important; 
  border-color: #285e8e !important; /*set the color you want here*/
}

#fixed:hover {
  background-image:none;
 }

.btn-siemens {
  color: #fff !important;
  background-color: #009999 !important;
  border-color: #009999 !important; /*set the color you want here*/
}
